#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

.results-section h1 {
  font-size: 60px;
  font-weight: lighter;
}

.results-section h2 {
  font-weight: 400;
}

.results-section a {
  text-decoration: none;
  font-size: large;
  color: rgb(69, 119, 245);
}

.results-container {
  display: grid;
  grid-template-columns: repeat(3, 275px);
  gap: 65px;
}


.result-percentage {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 10px;
}

.result-title {
  font-weight: bold;
  margin-bottom: 0px;
}

.result-description {
  margin-top: 0px;
}